<table>
    <tr>
        <td height="80px"></td>
    </tr>
    <tr>
        <td style="margin-left:50px">

@*            <iframe title="Project Dashboard 2" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=dfd428de-1831-42cb-95a8-87e299995048&autoAuth=true&ctid=f3d75e5d-9616-4b8b-affa-c6ef191ded2e" frameborder="0" allowFullScreen="true"></iframe>
*@
             @*<img src="~/images/img_20241024.png" style="padding-left:88px;"/>*@

<iframe title="Project Dashboard" width="1600" height="660" src="https://app.powerbi.com/view?r=eyJrIjoiZmViZDRiYjQtZTkyOS00ZWJiLTk2ZDItOWU5YWZhNjExNzIxIiwidCI6ImYzZDc1ZTVkLTk2MTYtNGI4Yi1hZmZhLWM2ZWYxOTFkZWQyZSJ9" frameborder="0" allowFullScreen="true"></iframe>        </td>
    </tr>
</table>


