<div class="custom-header">
    <div class="logo-bar">
        <img src="https://apps7.aisectonline.com/AisectNew/assets/AisectLibrary/Images/logo.png" alt="AISECT Online Logo">
    </div>
    <div class="nav-social-container">
        <div class="nav-menu">
            <a href="#" class="active">Home</a>
            <a href="#">Registration</a>
            <a href="#"> Kiosk</a>
            <a href="#">Services</a>
            <a href="#">Contact</a>
        </div>
    </div>
    <div class="social-icons">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-linkedin-in"></i>
        <i class="fab fa-pinterest"></i>
        <i class="fab fa-google-plus-g"></i>
    </div>
</div>
@* <div class="custom-global-style">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div> *@