<footer itemtype="https://schema.org/WPFooter" itemscope="itemscope" id="colophon" role="contentinfo">
    <div class='footer-width-fixer'>
        <div data-elementor-type="wp-post" data-elementor-id="9191" class="elementor elementor-9191">
            <div class="elementor-inner">
                <div class="elementor-section-wrap">
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-ebb0c79 footer elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="ebb0c79" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-8a5756c" data-id="8a5756c" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <section class="elementor-section elementor-inner-section elementor-element elementor-element-746b142 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="746b142" data-element_type="section">
                                                <div class="elementor-container elementor-column-gap-default">
                                                    <div class="elementor-row">
                                                        <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-2b853fa" data-id="2b853fa" data-element_type="column">
                                                            <div class="elementor-column-wrap elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-1a060ee elementor-widget elementor-widget-image" data-id="1a060ee" data-element_type="widget" data-widget_type="image.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="elementor-image">
                                                                                <a href="index.htm">
                                                                                    <img width="186" height="52" src="~/LayoutFolder/wp-content/uploads/2022/10/logo-insurance-white.png" class="attachment-large size-large" alt="" loading="lazy">
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="elementor-element elementor-element-5a9ee75 elementor-widget elementor-widget-text-editor" data-id="5a9ee75" data-element_type="widget" data-widget_type="text-editor.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="elementor-text-editor elementor-clearfix">
                                                                                <p>Completely strategize client-cent Phosfluorescently iterate efficient<br>internal or organic.</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="elementor-element elementor-element-c49d2e0 elementor-widget elementor-widget-heading" data-id="c49d2e0" data-element_type="widget" data-widget_type="heading.default">
                                                                        <div class="elementor-widget-container">
                                                                            <h2 class="elementor-heading-title elementor-size-default">Follow Us</h2>
                                                                        </div>
                                                                    </div>
                                                                    <div class="elementor-element elementor-element-cbe7dd6 e-grid-align-left elementor-shape-rounded elementor-grid-0 elementor-widget elementor-widget-social-icons" data-id="cbe7dd6" data-element_type="widget" data-widget_type="social-icons.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="elementor-social-icons-wrapper elementor-grid">
                                                                                <span class="elementor-grid-item">
                                                                                    <a class="elementor-icon elementor-social-icon elementor-social-icon-flaticon-facebook-4 elementor-repeater-item-b0435c4" href="#" rel="nofollow">
                                                                                        <span class="elementor-screen-only">Flaticon-facebook-4</span>
                                                                                        <i class="flaticon flaticon-facebook-4"></i>
                                                                                    </a>
                                                                                </span>
                                                                                <span class="elementor-grid-item">
                                                                                    <a class="elementor-icon elementor-social-icon elementor-social-icon-flaticon-instagram-logo elementor-repeater-item-66f7b71" href="#" rel="nofollow">
                                                                                        <span class="elementor-screen-only">Flaticon-instagram-logo</span>
                                                                                        <i class="flaticon flaticon-instagram-logo"></i>
                                                                                    </a>
                                                                                </span>
                                                                                <span class="elementor-grid-item">
                                                                                    <a class="elementor-icon elementor-social-icon elementor-social-icon-flaticon-twitter elementor-repeater-item-7443945" href="#" rel="nofollow">
                                                                                        <span class="elementor-screen-only">Flaticon-twitter</span>
                                                                                        <i class="flaticon flaticon-twitter"></i>
                                                                                    </a>
                                                                                </span>
                                                                                <span class="elementor-grid-item">
                                                                                    <a class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-repeater-item-ef171ba" href="#" rel="nofollow">
                                                                                        <span class="elementor-screen-only">Youtube</span>
                                                                                        <i class="fab fa-youtube"></i>
                                                                                    </a>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-003814a" data-id="003814a" data-element_type="column">
                                                            <div class="elementor-column-wrap elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-508ba1d elementor-widget elementor-widget-heading" data-id="508ba1d" data-element_type="widget" data-widget_type="heading.default">
                                                                        <div class="elementor-widget-container">
                                                                            <h2 class="elementor-heading-title elementor-size-default">Contact Us</h2>
                                                                        </div>
                                                                    </div>
                                                                    <div class="elementor-element elementor-element-de7451f elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="de7451f" data-element_type="widget" data-widget_type="icon-list.default">
                                                                        <div class="elementor-widget-container">
                                                                            <ul class="elementor-icon-list-items">
                                                                                <li class="elementor-icon-list-item">
                                                                                    <a href="#">

                                                                                        <span class="elementor-icon-list-icon">
                                                                                            <i aria-hidden="true" class="flaticon flaticon-play-button-2"></i>
                                                                                        </span>
                                                                                        <span class="elementor-icon-list-text">A-1, Envanto Headquarters, Melbourne, Australia.</span>
                                                                                    </a>
                                                                                </li>
                                                                                <li class="elementor-icon-list-item">
                                                                                    <a href="#">

                                                                                        <span class="elementor-icon-list-icon">
                                                                                            <i aria-hidden="true" class="flaticon flaticon-play-button-2"></i>
                                                                                        </span>
                                                                                        <span class="elementor-icon-list-text">Email: example@gmail.com</span>
                                                                                    </a>
                                                                                </li>
                                                                                <li class="elementor-icon-list-item">
                                                                                    <a href="#">

                                                                                        <span class="elementor-icon-list-icon">
                                                                                            <i aria-hidden="true" class="flaticon flaticon-play-button-2"></i>
                                                                                        </span>
                                                                                        <span class="elementor-icon-list-text">Phone: 800.123.4567</span>
                                                                                    </a>
                                                                                </li>
                                                                                <li class="elementor-icon-list-item">
                                                                                    <a href="#">

                                                                                        <span class="elementor-icon-list-icon">
                                                                                            <i aria-hidden="true" class="flaticon flaticon-play-button-2"></i>
                                                                                        </span>
                                                                                        <span class="elementor-icon-list-text">Website: dreamitsolution.net</span>
                                                                                    </a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-d8f8463" data-id="d8f8463" data-element_type="column">
                                                            <div class="elementor-column-wrap elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-aae05da elementor-widget elementor-widget-heading" data-id="aae05da" data-element_type="widget" data-widget_type="heading.default">
                                                                        <div class="elementor-widget-container">
                                                                            <h2 class="elementor-heading-title elementor-size-default">Featured Services</h2>
                                                                        </div>
                                                                    </div>
                                                                    <div class="elementor-element elementor-element-5904d71 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="5904d71" data-element_type="widget" data-widget_type="icon-list.default">
                                                                        <div class="elementor-widget-container">
                                                                            <ul class="elementor-icon-list-items">
                                                                                <li class="elementor-icon-list-item">
                                                                                    <a href="#">

                                                                                        <span class="elementor-icon-list-icon">
                                                                                            <i aria-hidden="true" class="flaticon flaticon-play-button-2"></i>
                                                                                        </span>
                                                                                        <span class="elementor-icon-list-text">Life Insurance</span>
                                                                                    </a>
                                                                                </li>
                                                                                <li class="elementor-icon-list-item">
                                                                                    <a href="#">

                                                                                        <span class="elementor-icon-list-icon">
                                                                                            <i aria-hidden="true" class="flaticon flaticon-play-button-2"></i>
                                                                                        </span>
                                                                                        <span class="elementor-icon-list-text">Car Insurance</span>
                                                                                    </a>
                                                                                </li>
                                                                                <li class="elementor-icon-list-item">
                                                                                    <a href="#">

                                                                                        <span class="elementor-icon-list-icon">
                                                                                            <i aria-hidden="true" class="flaticon flaticon-play-button-2"></i>
                                                                                        </span>
                                                                                        <span class="elementor-icon-list-text">House Insurance</span>
                                                                                    </a>
                                                                                </li>
                                                                                <li class="elementor-icon-list-item">
                                                                                    <a href="#">

                                                                                        <span class="elementor-icon-list-icon">
                                                                                            <i aria-hidden="true" class="flaticon flaticon-play-button-2"></i>
                                                                                        </span>
                                                                                        <span class="elementor-icon-list-text">Travel Insurance</span>
                                                                                    </a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-dd988b0" data-id="dd988b0" data-element_type="column">
                                                            <div class="elementor-column-wrap elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-bbe2711 elementor-widget elementor-widget-heading" data-id="bbe2711" data-element_type="widget" data-widget_type="heading.default">
                                                                        <div class="elementor-widget-container">
                                                                            <h2 class="elementor-heading-title elementor-size-default">Additional Links</h2>
                                                                        </div>
                                                                    </div>
                                                                    <div class="elementor-element elementor-element-06acf93 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="06acf93" data-element_type="widget" data-widget_type="icon-list.default">
                                                                        <div class="elementor-widget-container">
                                                                            <ul class="elementor-icon-list-items">
                                                                                <li class="elementor-icon-list-item">
                                                                                    <a href="#">

                                                                                        <span class="elementor-icon-list-icon">
                                                                                            <i aria-hidden="true" class="flaticon flaticon-play-button-2"></i>
                                                                                        </span>
                                                                                        <span class="elementor-icon-list-text">Our Cpmpany</span>
                                                                                    </a>
                                                                                </li>
                                                                                <li class="elementor-icon-list-item">
                                                                                    <a href="#">

                                                                                        <span class="elementor-icon-list-icon">
                                                                                            <i aria-hidden="true" class="flaticon flaticon-play-button-2"></i>
                                                                                        </span>
                                                                                        <span class="elementor-icon-list-text">Services</span>
                                                                                    </a>
                                                                                </li>
                                                                                <li class="elementor-icon-list-item">
                                                                                    <a href="#">

                                                                                        <span class="elementor-icon-list-icon">
                                                                                            <i aria-hidden="true" class="flaticon flaticon-play-button-2"></i>
                                                                                        </span>
                                                                                        <span class="elementor-icon-list-text">Contact Us</span>
                                                                                    </a>
                                                                                </li>
                                                                                <li class="elementor-icon-list-item">
                                                                                    <a href="#">

                                                                                        <span class="elementor-icon-list-icon">
                                                                                            <i aria-hidden="true" class="flaticon flaticon-play-button-2"></i>
                                                                                        </span>
                                                                                        <span class="elementor-icon-list-text">Feature</span>
                                                                                    </a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                            <section class="elementor-section elementor-inner-section elementor-element elementor-element-29b54d1 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="29b54d1" data-element_type="section">
                                                <div class="elementor-container elementor-column-gap-default">
                                                    <div class="elementor-row">
                                                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-9a90fec" data-id="9a90fec" data-element_type="column">
                                                            <div class="elementor-column-wrap elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-b310961 elementor-widget elementor-widget-text-editor" data-id="b310961" data-element_type="widget" data-widget_type="text-editor.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="elementor-text-editor elementor-clearfix">
                                                                                <p>© 2022 Aisect Insurance. All Rights Reserved.</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-21c9c52" data-id="21c9c52" data-element_type="column">
                                                            <div class="elementor-column-wrap elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-e6d24ae elementor-icon-list--layout-inline elementor-align-right elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="e6d24ae" data-element_type="widget" data-widget_type="icon-list.default">
                                                                        <div class="elementor-widget-container">
                                                                            <ul class="elementor-icon-list-items elementor-inline-items">
                                                                                <li class="elementor-icon-list-item elementor-inline-item">
                                                                                    <span class="elementor-icon-list-text">Privacy Policy</span>
                                                                                </li>
                                                                                <li class="elementor-icon-list-item elementor-inline-item">
                                                                                    <span class="elementor-icon-list-text">Terms & Conditions</span>
                                                                                </li>
                                                                                <li class="elementor-icon-list-item elementor-inline-item">
                                                                                    <span class="elementor-icon-list-text">Contact Us</span>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</footer>